{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="container">
    <form action="" method="POST" class="w-50 m-auto border border-1 p-3 mt-5">
        {% csrf_token %}
        <label for="">Kullanıcı Adı:</label>
        <input type="text" name="kullanici" class="form-control">
        <label for="">Şifre:</label>
        <input type="password" name="sifre" class="form-control">
        <input type="submit" value="Giriş Yap" class="btn btn-warning mt-3">
    </form>
</div>
{% endblock content %}