{% extends "index.html" %}
{% load static %}

{% block content %}

<h2>Ürün Sayfası</h2>

{% for i in urun %}
<div class="col-4">
    <div class="card w-75">
        {% if i.resim %}
        <img src="{{i.resim.url}}" alt="" />
        {% else %}
        <img src="{% static 'avatar.jpg' %}" alt="" />
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{i.isim}}</h5>
            <p class="card-text">{{i.aciklama}}</p>
            <small>{{i.fiyat}}</small> <br>
            <a href="{% url 'urun' i.id %}" class="btn btn-primary">Ürünü İncele</a>
        </div>
    </div>
</div>

{% endfor %}
{% endblock content %}